.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 10px;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }
  
  .projects-section {
    padding: 10rem 0;
  }
  
  .projects-section .featured-text {
    padding: 2rem;
  }
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: .25rem;
      width: 30%;
    }
  }

  .bg-black {
    background-color: #161616 !important;
  }

  